@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;500;600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, "Noto Serif KR", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
  /* overflow: hidden; */
}
/* 
* {
  padding: 0;
  margin: 0;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
  width: 960px;
  height: 90%;
  overflow: hidden;
  border: none;
}